.block {
    height: 400px;
    width: auto;
    background-color: #7352FF;
  }
  
  .firstRec {
    width: 935px;
    height: auto;
    
    margin-left: auto;
    margin-right: auto;
    background-color: #7352FF;
    border-radius: 10px;
    border: 1px solid black;
    position: absolute;
    top: 350px;
    left: 180px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* margin-left: auto;
    margin-right: auto; */
  }
  
  .innerRec {
    width: 906px;
    /* background-color: chocolate; */
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .topBox {
    /* width: 128px; */
    padding: 40px;
    padding-bottom: 20px;
    /* background-color: darkgrey; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .imgDiv {
    height: auto;
    width: auto;
    display: flex;
    /* flex-direction: column; */
  }
  .imgBox {
    padding: 10px;
    background-color: red;
  }
  .img{
    width: 111px;
    height: 130px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
  
  }
  
  .btn_grp {
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin-left: 20px;
  
  }
  
  .btn {
    margin: 10px;
    border-radius: 10px;
  }
   
  .detail {
    margin-top: 10px;
    padding: 10px 10px 10px 40px;
  } 
  
  .videoDetail {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 25px;
  }
  
  
  .video img{
    width: 480px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
  }
  
  .subscribe p{
    margin-top: 40px;
    font-size: 20px;
  }
  
  .input {
    width: 85.5%;
    /* height: 37px; */
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    outline: none;
  }
  @media (max-width: 1400px) {

    .videoDetail {
      display: flex;
      /* align-items: center; */
      /* justify-content: center; */
      flex-wrap: wrap;
      /* margin: 25px; */
      width: 100%;
    }
    .video img {
      /* width: 100%; */
      /* max-width: 400px; */
      height: 261px;
    }
  
    .videoTxt {
      margin: 25px 25px 25px 0px;
      width: 100%;
    }
    /* .video img{
      width: 500px;
    } */
  
  
  }
  
  @media (max-width: 1200px) {
    .firstRec {
      border: 0px;
    }
  }
  
  @media (max-width: 600px) {
    .firstRec {
      position: relative;
      top: 0;
      left: 0px;
      right: 0px;
      width:100%;
  
    }
    .innerRec{
        width: 100%;
    }
    .btn{
        margin: 0;
    }
  }